<div class="main-content">

        <div class="container-fluid">
            <!--
            <div class="row">
                <div class="col-11" >
                        <div class="alert alert-danger alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <i data-notify="icon" class="material-icons">add_alert</i>
                            <span data-notify="message">Your application is incomplete. The deadline is in 4 days!</span>
                        </div>
                </div>
            </div>
            -->
            
            
            <div class="row" style="padding-left: 2%;  ">
                <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Model United Nations at IBA Karachi</h4>
                    <p class="category">Reform form within</p>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <div class="title">
                            <h2>Welcome</h2>
                            <h2>{{ auth.currentUserDisplayName }}</h2>
                        </div>
                        <div class="row">
                    <!--        <div class="tim-typo">
                                <h1><span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>
                            </div> -->
                            <div class="tim-typo" style="padding-left: 10%;">
                               <!-- <span class="tim-note">Quote</span>-->
                                <blockquote>
                                 <p>
                                    Leadership is not about a title or a designation. It's about impact, influence and inspiration. Impact involves getting results, influence is about spreading the passion you have for your work, and you have to inspire team-mates and customers.
                                 </p>
                                 <small>
                                 Robin S. Sharma
                                 </small>
                                </blockquote>
                            </div>
                            <div class="tim-typo" style="padding-left: 2%; padding-right: 2%">
                                <b>Instructions:</b> We are excited to host you at the Model United Nations at IBA Karachi. Please make sure you follow the instructions regarding registrations carefully. You are first required to fill in your personal details as head delegate in the Register section of the sidebar. If you wish to add more delegates to the delegation, you may press Add Delegate and Submit to submit all details. Please make sure that you only press submit after filling in all details correctly. After registering your delegation, go to the Invoice section and generate invoice. Pay the fee at the designated bank and then submit the deposit slip to MUNIK representatives. After this each delegate in your delegation will receive their assignments which you can view in the user profile section. Please email munik.iba@gmail.com for queries. 
                            </div>
                        </div>                    
                    </div>                    
                </div>                                
                </div>    
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Number of delegates registered</p>
                            <h3 class="title">6</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">add</i> <a href="#pablo">Register More..</a>
                            </div>
                        </div>
                    </div>
                </div>
        <!--        <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Revenue</p>
                            <h3 class="title">$34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Your Application Status</p>
                            <h3 class="title">Pending</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> We are working our best to let you know as soon as possible
                            </div>
                        </div>
                    </div>
                </div>

          <!--       <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Followers</p>
                            <h3 class="title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
</div>
