<nav class="navbar navbar-transparent navbar-fixed-top" style="margin-bottom: -20px;" >
    <div class="container-fluid " style="margin-bottom: -20px;">
        <div class="navbar-header" style="margin-bottom: -20px;" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()" style="margin-bottom: -20px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <!--  <a class="navbar-brand" href="#">{{getTitle()}}</a> -->
        </div>
    </div> 
</nav> 
